<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <share_cart>
            <general>
                <enable>1</enable>
            </general>
        </share_cart>
    </default>
</config>
